.App {
    text-align: center;
  }
  
  /* --------------------Add To Cart Csss --------------------- */
  
  /* .cart_item{
    display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
  } */
  
  .product_container{


  }
  .items{
    display: flex;
    flex-wrap: wrap;
    gap:10px;
    justify-content: center;
    padding: 40px calc((100% - (255px * 5)) / 2);
  }
  .item{
    background-color: rgb(240, 242, 245);
    border-radius: 3%;
    padding: 20px;
    
  }
  .item img{
    width: 200px;
    height: 200px;
  }
  .item_disc {
    display: flex;
    justify-content: space-between;
  }
  .btn-border {
    border: 1px solid black !important;
  }
  .color_selector{
    border: 2px solid black !important;
  }
  
  
  /* --------------------checkout page Css --------------------- */
  
  .user_container{
    width: 50%;
    float: left;
    margin-left: 30px;
  }
  
  .cart_container{
    display: flex;
    justify-content: center;
  }
  .navbar-collapse {
    
    text-align: start;
  }
  .cartData{
      position: absolute;
      right: 20px;
      font-weight: bold;
      font-size: x-large;
      padding: 4px;
      color: darkorange;
      cursor: pointer;
      
  }
  
  @media only screen and (max-width: 850px) {
    .cart_container {
      float: none;
    }
    .user_container {
      float: none;
      width: auto;
    }
  }
  @media only screen and (max-width: 991px) {
    .cartData{
      position: relative;
      font-weight: bold;
      color: darkorange;
      cursor: pointer;
      margin-left: -11px;
  }
  .form-control {
    margin-right: 30px !important; 
  }
  }
  @media only screen and (min-width: 1250px) {
   .form-control{
    width: 500px !important;

   }
  }